* {
     box-sizing: border-box;
   } 
   
   body {
     font-family: Arial, Helvetica, Georgia, sans-serif;
     color: black;
     background-color:#EFF6EE;
   }
   
   .grid-container {
     display: grid;
     grid-template-areas:
       'header header header header header header' 
       'left main main main main right'
       'footer footer footer footer footer footer';
     gap: 20px 15px;
     background-color: #EFF6EE;

   }
   
   .header {
     grid-area: header;
     text-align: center;
     background-color: #102542;
     color: #EFF6EE;
   }
   
   .left {
     grid-area: left;

   }
   
   .right {
     grid-area: right;
   }
   
   .main {
     grid-area: main;
   }
   .main iframe {
     height: 90vh;
     width: 50vw;
     border: 5px solid #5a5858;
   }
   
   .footer {
     grid-area: footer;
     text-align: center;
     padding: 30px 5px;
   }
   
   #power {
     text-align: center;
     font-family: "Roboto", sans-serif;
     color: #EFF6EE;
   }
   
   nav {
     overflow: hidden;
   }
   
   nav a {
     float: left;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     font-size: 1.2em;
     color:#EFF6EE;
   }

   #navtitle {
     float: right;
   }
   
   nav a:hover {
     text-decoration: underline;
   }
   
   #intro {
     font-family: "Arial" ;

   }

   .left, .right {
    padding: 20px;
   }
