* {
     box-sizing: border-box;
}

body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin: 20px;
     background-color: #EFF6EE;

}

.results-container {
     display: flex;
     max-width: 600px;
     margin: auto;
     padding: 20px;
     border: 1px solid #ddd;
     border-radius: 10px;
     text-align: center;
     background-color: white;
     flex-direction: column;
}

a {
     margin: 20px;
     padding: 12px 14px;
     font-size: 16px;
     border: none;
     background-color: green;
     color: white;
     cursor: pointer;
     text-align: center;
     border-radius: 5px;
     width: auto;
}

a:hover {
     background-color: red;
}