* {
     box-sizing: border-box;
}

body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin: 20px;
     background-color: #EFF6EE;
}

.header {
     grid-area: header;
     text-align: center;
     color: #102542;
   }

   nav {
     overflow: hidden;
   }
   
   nav a {
     float: left;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     font-size: 1.2em;
     color:#102542;
   }

   #navtitle {
     float: right;
   }
   
   nav a:hover {
     text-decoration: underline;
   }

.quiz-container {
     max-width: 700px;
     margin: auto;
     padding: 20px;
     background: white;
     border-radius: 10px;
     text-align: left;
}
.question {
     font-size: 18px;
     font-weight: bold;
     margin-top: 20px;
}
.options {
     margin-bottom: 20px;
}
.options label {
     display: block;
     padding: 10px;
     margin: 5px 0;
     border-radius: 5px;
     background-color: #102542;
     color: white;
     cursor: pointer;
     transition: 0.3s;
}
.options input {
     display: none; 
}
.options input:checked + label {
     background-color: #102542;
     border: 2px solid #000;
}
.submit-btn {
     margin-top: 20px;
     padding: 12px 20px;
     font-size: 16px;
     border: none;
     background-color: rgb(44, 127, 223);
     color: white;
     cursor: pointer;
     border-radius: 5px;
     display: block;
     width: 100%;
}