<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.bokeh.org https://flightytracker.onrender.com; 
    connect-src 'self' ws://flightytracker.onrender.com wss://flightytracker.onrender.com; 
    img-src 'self' data: https://cdn.bokeh.org; 
    style-src 'self' 'unsafe-inline' https://cdn.bokeh.org; 
    frame-src 'self' https://flightytracker.onrender.com;">
    <title>Flight Tracker</title>
    
</head>
<body>
    <h1>Live Flight Tracker. Yayyy it works!</h1>
    <div id="bokeh-map">{{ script|safe }}  <!-- Bokeh script will be injected here --></div>
</body>
</html>
