<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">    <title>Flight Tracker</title>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"></script>
</head>
<body>
    <h1>Live Flight Tracker. Yayyy it works!</h1>
    <div id="bokeh-map">{{ script|safe }}  <!-- Bokeh script will be injected here --></div>
</body>
</html>
