<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Bokeh Live Flight Tracker</title>
          <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" 
          integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
     </head>
     <body>
          <h1 style="text-align: center;">Live Flight Tracker</h1>
          <a href="/bkapp/" target="_blank">Visit the Flight Tracker</a>
     </body>
</html>